<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yzy.testServer.dao.UserMapper">
    
    
    <insert id="insertMSG" parameterType="cn.yzy.testServer.entity.insertMSG" useGeneratedKeys="true" keyProperty="id">
        insert into usermsg(phone,name,eid,pwd) values
        (#{phone},#{name},#{eid},#{pwd})       
    </insert>
    
    
    <select id="checkMSG" parameterType="cn.yzy.testServer.entity.insertMSG" resultType="java.lang.Integer">
        select count(*) as cf from usermsg where phone=#{phone}     
    </select>
    
    
    <select id="chekPWD" parameterType="java.lang.String" resultType="java.lang.String">
        select pwd from usermsg where phone=#{1}     
    </select>
    
    
    <select id="Order" parameterType="java.lang.String" resultType="java.lang.Integer">
        select Stock from market where goodsID=#{1}     
    </select>
    
    
    <update id="updateStock" parameterType="cn.yzy.testServer.entity.Update">
        UPDATE market SET Stock=#{Stock} where goodsID=#{gooddsID}
    </update>
    
    <select id="CheckAll" resultType="cn.yzy.testServer.entity.Checkall">
        select phone from usermsg     
    </select>
</mapper>